body 
{
    background-color: #707070;
    background-image: url("../images/beach.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title 
{
    font-size: 60px;
    width: 80%;
    margin: 2% 5%;
    text-align: center;
    padding-left: 60px;
    font-family: 'Pacifico', cursive;
    color: #805326;
}

#loginDiv {                
    position: fixed;                
    top: 50%;                       
    left: 50%;                      
    transform: translate(-50%, -50%); 
    width: 400px;    
    height: 400px;               
    padding: 50px 35px;                  
    background-color: rgba(219, 173, 138, 0.8); 
    backdrop-filter: blur(8px);     
    border-radius: 20px;           
    box-shadow: 0 4px 20px rgba(0,0,0,0.3); 
    z-index: 1001;
    
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin-left: 7%;
    margin-bottom: 10%; 
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 25px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 7%;
    margin-top: 2%; 
    font-family: 'Ubuntu', sans-serif;
    color: #805326;
    font-weight: bold;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}


#loginToggle {
    position: fixed;     
    top: 20px;            
    right: 20px;         
    width: 200px;         
    height: 50px;      
    font-size: 24px;      
    border-radius: 25px;  
    background-color: #dbad8a;  
    color: #fff;         
    cursor: pointer;
    z-index: 1000;        
}

#loginToggle:hover {
    background-color: #c18b6e; 
}


/* Tabs container */
#loginSignupTabs {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px;           
}

/* Tab buttons */
.tabButton {
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    color: #805326;
    transition: 0.3s;
}

.tabButton.active {
    border-bottom: 3px solid #805326; 
    font-weight: bold;
}

#signupForm input {
    width: 85%;              
    padding: 10px;          
    font-size: 15px;         
    margin: 1px 7.5%;     
    border-radius: 25px;    
    text-align: center;     
    display: block;        
    font-family: 'Ubuntu', sans-serif;
}